@page "/"
@using System.Threading.Tasks;

<h1>Hello, world!</h1>

Welcome to your blazor app. Last updated at <h1>@theTime</h1>
<SurveyPrompt Title="How is Blazor working for you?" />

@code  {
    protected override void OnInitialized()
    {
        Ticker();
        base.OnInitialized();
    }

    string theTime = DateTime.Now.ToLongTimeString();

    // use an async-void or a timer. An async-void needs no cleanup. 
    async void Ticker()
    {
        while (true)
        {
            await Task.Delay(5_000);
            theTime = DateTime.Now.ToLongTimeString();

            StateHasChanged();   // refreshes everything, may interfere with your pages
        }
    }
}
